<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs209.project.mapper.StackOverFlowAllTagMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    insert into tag (
        tag,
        allquestion,
        today,
        month,
        week,
        year
    )values (
                    #{tag},
                    #{AllQuestion},
                    #{today},
                    #{month},
                    #{week},
                    #{year}
                )
    </insert>
</mapper>